.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 30;
  padding: 30px 10px 0 10px;
  color: rgb(66, 66, 66);
  font-family: "Courier New", Courier, monospace;
}

.container h1 {
  font-weight: 500;
  color: rgb(66, 66, 66);
  font-family: "Courier New", Courier, monospace;
}

.container p {
  max-width: 850px;
  text-align: justify;
  text-align-last: center;
}
